html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.albumcontainer {
  width: 1200px;
  margin: auto;
 background: green;

}
.container {
  width: 1500px;
  margin: auto;
  background: yellow;
}

.album {

  width: 1000px;
  margin: auto;
  display: flex;  
  flex-flow: row wrap;

}

.eachalbum {
  margin: 10px;
  border: solid red 2px;

}

img {
  border: solid red 2px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.pictures {
  display: flex;
  flex-flow: row wrap;
  width: 1200px;
  border: solid 1px black;
}

.singlepic {
  display: flex;
  justify-content: center;
}

.eachpic {
  margin: 10px;
  border: solid red 2px;
}

.picbody {
  display: flex;
  width: ;
 
}

.list {
  border: solid 1px black;
  width: 200px;
}